/** @format */

.container {
}
.headerActions {
	display: flex;
	margin: 1rem 0rem;
	justify-content: space-between;
}

.btn {
	background-color: #d5adc8;
	background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
	padding: 0.5rem 2.5rem;
	color: white;
	font-weight: 500;
	border: none;
	font-size: 14px;
	border-radius: 15px;
	margin-top: 10px;
	width: 100%;
	cursor: pointer;
	svg {
		margin-right: 10px;
	}
}

.input {
	// width: 100%;
	margin: 10px 0 40px;
	border-radius: 15px;
	font-size: 14px;
	padding: 0.25rem 1rem;
	width: 80%;
	outline: none;
	border: 2px solid #d5adc8;
}

.grids {
	display: grid;
	grid-template-columns: 20% 80%;
	padding: 2rem 1rem;
}
.rightContainer {
	padding: 0 1rem;
}
.sideBarcontainer {
	padding: 0 1rem;
}

.calendarView {
	overflow: auto;
	height: 70vh;
}
